{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inventoryitems list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventoryItem in inventoryItems %}
            <tr>
                <td><a href="{{ path('inventoryitem_show', { 'id': inventoryItem.id }) }}">{{ inventoryItem.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inventoryitem_show', { 'id': inventoryItem.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('inventoryitem_edit', { 'id': inventoryItem.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inventoryitem_new') }}">Create a new inventoryItem</a>
        </li>
    </ul>
{% endblock %}
